.header {
    color: white;
    background-color: red;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: 48px;
    padding: 10px;
    border: 4px solid gold;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.content {
    width: 500px;
    height: 500px;
    display: grid;
    border: 2px solid black;
    align-self: center;
}

.next-div {
    border: 1px solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
    padding: 0;
    background-color: whitesmoke;
}

body {
    margin: 0;
    padding: 0;
    background-color: teal;
}

.clear-button {
    width: 100px;
    padding: 0;
    margin-top: 3em;
    margin-bottom: 3em;
    align-self: center;
    border: 2px solid black;
    border-radius: 4px;
}